@import 'src/styles/abstract/colors';

.albumTile {
  .art {
    width: 128px;
    height: 128px;
    border: solid $white 1px;
    background-color: $background-dark-grey;
  }

  .tag {
    display: flex;
    flex-direction: column;

    .album {
      font-weight: 600;
      margin: 0.5rem 0 0.05rem;
    }

    .artist {
      color: $primary-grey;
    }

    .timestamp {
      color: $primary-grey;
      font-size: 0.7rem;
      line-height: 1rem;
    }
  }
}
