@import 'src/styles/abstract/mixins';
@import 'src/styles/abstract/constants';
@import 'src/styles/abstract/colors';

.library {
  &.main {
    @include view-margin;
    margin-top: 0;
    // margin-bottom: 102px;
  }

  .sortSplit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > hr {
      flex: 1;
      border-color: $primary-grey;
      margin: 0.3rem 0;
    }

    > span {
      font-size: 0.8rem;
      font-weight: 600;
      color: $primary-grey;
      line-height: 0.4rem;
      margin-left: 8px;
    }
  }

  .sortBtns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    > button {
      display: flex;
      flex: 1;
      padding: 0;

      &:last-of-type {
        flex-basis: 10px;
      }

      > svg {
        width: 20px;
        height: 20px;

        path {
          fill: $persian-green;
        }
      }
    }
  }
}
