@import 'src/styles/abstract/colors';

.error {
  position: absolute;
  bottom: 76px;
  width: 100vw;
  background-color: $burnt-sienna;

  button {
    position: absolute;
    right: 8px;
    padding: 12px;
    line-height: 0;

    > svg {
      width: 18px;
      height: 18px;

      path {
        fill: $white;
      }
    }
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-weight: 600;
    margin: 0 48px;

    > span {
      line-height: 1rem;
    }
  }
}
