$black: #000;
$white: #fff;
$grey: #888;

$primary-black: #212529;
$primary-grey: #707372;
$primary-light-grey: #a0a0a0;

$background-black: #121212;
$background-black-overlay: rgba($black, 0.8);
$background-dark-grey: #282828;
$text-grey: #b3b3b3;

$charcoal: #264653;
$persian-green: #2a9d8f;
$orange-yellow-crayola: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;
