@import 'src/styles/abstract/colors';

.button {
  color: $white;
  background-color: transparent;
  border: 0;
  user-select: none;
  outline: none;
  transition: transform 0.3s;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.92);
    transition: transform 0.3s;
  }

  &.text {
    font-weight: 600;
  }

  &.fullWidth {
    width: 100%;
  }
}
