@import 'src/styles/abstract/colors';

.button {
  color: $white;
  background-color: transparent;
  border: 0;
  user-select: none;
  outline: none;
  transition: transform 0.3s;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.92);
    transition: transform 0.3s;
  }

  &.basic {
    transition: none;

    &:active {
      transform: none;
    }
  }

  &.text {
    font-weight: 600;

    &Icon {
      display: flex;
      align-items: center;

      > svg {
        margin-right: 8px;
      }
    }
  }

  &.icon {
    padding: 1rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.tile {
    display: inherit;
    text-align: start;
    padding: 0;
    margin: 0;

    &:active {
      -webkit-tap-highlight-color: transparent;
      transform: scale(0.97);
      transition: transform 0.3s;
    }
  }

  &.listItem {
    &:active {
      -webkit-tap-highlight-color: transparent;
      transform: scale(0.99);
      transition: transform 0.3s;
    }
  }

  &.outline {
    border: 1px solid $white;
    border-radius: 3px;
    padding: 0.6rem 1.4rem;
  }
}
