@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/constants';
@import 'src/styles/abstract/mixins';

.search {
  &Btn {
    position: relative;

    > svg {
      position: absolute;
      top: 6px;
      left: 10px;

      path {
        fill: $primary-black;
      }
    }

    > button {
      width: 100%;
      border-radius: 7px;
      outline: none;
      color: $primary-black;
      background-color: $white;
      padding: 0.5rem 1rem 0.5rem 38px;
      text-align: left;
      cursor: pointer;
    }
  }

  &Results {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 1.2rem 76px;

    > div:not(:first-of-type) {
      margin-top: 0.8rem;
    }

    h4 {
      margin-top: 0;
    }

    .headerSecondary {
      position: relative;
      top: -22px;
      left: -18px;

      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.1rem 1rem;
        transform: scaleX(-1);

        &:active {
          -webkit-tap-highlight-color: transparent;
          transform: scaleX(-1);
        }

        > svg {
          height: 14px;
          width: 14px;
          fill: $white;
        }
      }
    }
  }

  &Overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-black;
    z-index: 2;
    height: calc(100% - #{$nav-footer-height} - 12px);
    width: calc(100%);
  }

  &Header {
    display: flex;
    justify-content: space-between;
    background-color: $background-dark-grey;
    padding: 0.7rem 1rem;

    > button {
      margin-left: 46px;
      padding: 0.3rem 0.7rem;
      font-weight: 400;
    }
  }

  .allResults {
    margin-bottom: 0.8rem;

    > div {
      border-top: 1px solid $primary-light-grey;
    }

    > div:last-of-type {
      border-bottom: 1px solid $primary-light-grey;
    }
  }
}
