@import 'src/styles/abstract/colors';

.textArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;

  .label {
    font-weight: 700;
    margin-bottom: 0.1rem;
  }

  textarea {
    border-radius: 0;
    border: 1px solid $primary-grey;
    background-color: $background-dark-grey;
    color: $white;
    padding: 0.4rem;
    outline: 0;
    resize: none;
    height: 5rem;
  }

  .counter {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
  }
}
