@import 'src/styles/abstract/mixins';

.home {
  @include view-margin;

  .albumScroll {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 -1.8rem 1rem;

    > button {
      margin-left: 2rem;
    }

    > button:last-of-type {
      padding-right: 2rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    > button:not(:last-of-type) {
      max-width: 130px;
    }
  }
}
