@import 'src/styles/abstract/colors';

.textInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.3rem;
  position: relative;

  .label {
    font-weight: 700;
    margin-bottom: 0.1rem;
  }

  input {
    border-radius: 0;
    border: 1px solid $primary-grey;
    background-color: $background-dark-grey;
    color: $white;
    padding: 0.4rem;
    outline: 0;

    &.hasError {
      border-color: $burnt-sienna;
    }
  }

  .counter {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
  }

  .error {
    position: absolute;
    bottom: 0;
    color: $burnt-sienna;
    font-size: 0.85rem;
  }
}
