@import 'src/styles/abstract/colors';

$iphone-11-placeholder-width: 414px;
// $iphone-11-placeholder-height: 896px;
$iphone-11-placeholder-height: 100vh;

.app {
  height: 100vh;

  .layout {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: $iphone-11-placeholder-width;
    height: $iphone-11-placeholder-height;
    background-image: linear-gradient($black, $background-black)
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: $iphone-11-placeholder-width;
  }
}
