@import 'src/styles/abstract/colors';

.app {
  height: 100vh;

  .layout {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}
