@import 'src/styles/abstract/colors';

@mixin wrapper {
  &Wrapper {
    display: flex;
  }
}

@mixin svg {
  > svg {
    height: 18px;
    width: 18px;
    fill: $white;
  }
}

@mixin block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin info {
  &Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }
}

@mixin name {
  &Name {
    font-weight: 600;
    text-align: left;
    margin-right: 8px;
  }
}

@mixin tag {
  &Tag {
    color: $text-grey;
    font-size: 0.8rem;
    text-align: left;
  }
}

.searchResult {
  > button {
    padding: 0;
    width: 100%;
  }

  .artist {
    @include wrapper;
    @include svg;
    @include block;
    @include info;
    @include name;
    @include tag;

    .image {
      width: 38px;
      height: 38px;
      border: 1px solid $primary-grey;
      border-radius: 50%;
    }
  }

  .album {
    @include wrapper;
    @include svg;
    @include block;
    @include info;
    @include name;
    @include tag;

    .image {
      width: 38px;
      height: 38px;
      border: 1px solid $primary-grey;
    }

    .bullet {
      font-size: 0.6rem;
    }
  }

  .allButton {
    @include svg;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}
