@import 'src/styles/abstract/colors';

.libraryFilter {
  width: 100%;
  margin: 1rem 0 0.5rem;
  position: relative;

  > svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 7px;
  }

  > input {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    border-radius: 7px;
    outline: none;
    padding: 0.3rem 12px 0.3rem 32px;
    color: $white;
    background-color: rgba($white, 0.1);

    &::placeholder {
      color: $white;
      font-weight: 600;
    }
  }
}
