@import 'src/styles/abstract/colors';

.albumView {
  position: relative;

  .header {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.1rem 1rem;
      transform: scaleX(-1);

      &:active {
        -webkit-tap-highlight-color: transparent;
        transform: scaleX(-1);
      }

      > svg {
        height: 14px;
        width: 14px;
        fill: $white;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
    }
  }

  .art {
    display: flex;
    justify-content: center;
    align-items: center;

    &Wrapper {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2rem 0 5rem;
      height: calc(100vh - 11rem);
      width: 100vw;
    }

    > div {
      justify-content: center;
      align-items: center;
    }

    &Img,
    &Missing {
      height: 50vw;
      max-height: 200px;
      min-width: 200px;
      background-color: $background-dark-grey;
      border: solid $white 1px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    margin-top: 16rem;
    width: 100%;

    .main {
      display: flex;
    }

    .left {
      flex: 5;
      margin: 1rem;

      .album {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.6rem;
      }

      .artist {
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin: 0.3rem 0;
      }

      .year {
        font-size: 0.9rem;
        line-height: 0.9rem;
        color: $primary-light-grey;
      }

      .genre {
        font-weight: 600;
        color: $white;
        margin-top: 0.4rem;
      }
    }

    .right {
      flex: 2;
      margin: 1rem;
      font-size: 0.9rem;
      color: rgba($white, 0.8);

      .label {
        font-weight: 600;
      }

      .shelf {
        margin-top: 0.4rem;
      }
    }

    .comments {
      margin: 0 1rem 1.4rem;

      > hr {
        width: 80%;
        border-color: $primary-light-grey;
      }

      > div {
        margin-top: 1.4rem;
      }
    }
  }

  .modal {
    position: fixed;
    z-index: 3;
    background-color: $background-black-overlay;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &Content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 0;
      }

      h4 {
        margin-top: 0.4rem;
      }
    }

    &Btns {
      display: flex;
      justify-content: space-between;
      margin-top: 0.4rem;
      width: 100%;
    }
  }

  &Edit {
    margin: 2.4rem 1rem 1.2rem;
  }
}
