@import 'src/styles/abstract/colors';

.libraryAlbum {
  > button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0;
  }

  .albumArt {
    width: 42px;
    height: 42px;
    border: solid $white 1px;
    background: no-repeat center/60% url('/images/placeholder.svg') $background-dark-grey;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 12px;

    &Wrapper {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;

      > div:first-of-type {
        flex: 10;
      }

      > div:last-of-type {
        flex: 1;
      }
    }

    .album {
      font-weight: 700;
    }

    .artist {
      color: $text-grey;
    }
  }
}
