@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/constants';

$iphone-white-bar-padding: 12px;

.navFooter {
  height: $nav-footer-height;
  background-color: $background-dark-grey;
  padding-bottom: $iphone-white-bar-padding;
  box-shadow: 0 17px 5px 14px $primary-light-grey;

  .btns {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: $iphone-white-bar-padding;

    > button {
      flex: 1;
      height: calc(100% + #{$iphone-white-bar-padding});

      > div {
        margin-top: -6px;
      }
    }
  }
}
