@import 'src/styles/abstract/colors';

$iphone-white-bar-padding: 12px;

.navFooter {
  height: 64px;
  background-color: $background-dark-grey;
  padding-bottom: $iphone-white-bar-padding;

  .btns {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: $iphone-white-bar-padding;

    > button {
      flex: 1;
      height: calc(100% + #{$iphone-white-bar-padding});

      > div {
        margin-top: -6px;
      }
    }

    .content {
      &.active {

      }
    }
  }
}
